<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQuej_sjhIWe3mYJQFTJR4OgYp0lT-lB4</string>
	<key>GCM_SENDER_ID</key>
	<string>1070442094907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TipTune-co.TipTune</string>
	<key>PROJECT_ID</key>
	<string>tiptuneauth</string>
	<key>STORAGE_BUCKET</key>
	<string>tiptuneauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070442094907:ios:e801673d248b92722e571e</string>
</dict>
</plist>